@import '../variables';
.about {
    position: relative;
    &__project {
        color: $Grayscale-Black;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        text-transform: uppercase;
        margin-bottom: 20px;
    &::after {
        position: absolute;
        content:'';
        top:150px;
        right: 0;
        width: 529px;
        height: 2px;
        background: #000;
    }
    }
    
    &__text_heading {
        color: var(--Grayscale-50, #333);
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 50.4px */
    }
    &__text_1 {
        color: var(--Grayscale-10, #9C9C9C);
        /* Montserrat/Regular/18 */
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        margin-bottom: 100px;
    }
}